ul {
    list-style: none;
    margin: 0;
    padding: 0;
    position: absolute;
}

input {
    width: 30%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(175, 223, 175);
}

button {
    width: 15%;
    height: 30px;
    border-radius: 10px;
    background-color: rgb(175, 223, 175);
}